@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600;700&family=Mada:wght@300&family=Red+Hat+Display:wght@500;700;900&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'RickAndMortyFont';
  src: url('./assets/fonts/GetSchwifty.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
body{
  font-size: 15px;
  background-color: #08434bcf;
  font-family: 'Roboto Flex', sans-serif;
  background: radial-gradient(circle, 
    rgba(0, 255, 0, 1) 0%,
    rgba(138, 43, 226, 1) 40%,
    rgba(0, 191, 255, 1) 80%,
    rgb(252, 64, 249) 100%);
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  

}
h1, h2, p{
  margin: 0;
}
.App {
  text-align: center;

}

.icon__spinner{
  width: 5rem;
  position: absolute;
  top: 50%;
  
}


/* estilo header nuevo */
.header__img{
  width: 100%;
 max-width: 100vw;
 
}
.img-custom{
  margin-top: -35rem;
  width: 70%;
  height: 50vh;
  
}
.input-custom{
  margin-top: -10rem;
  margin-bottom: 5rem;
  padding-left: 15rem;
  padding-right: 15rem;
  color: white;
}
.inp-custom{
  border-color: #00ff88;
  color: #00ff88;
  text-shadow: 
        0 0 5px #00ff88, 
        0 0 10px #00ff88, 
        0 0 20px #00ff88, 
        0 0 40px #ff0000;
}

.btn-custom{
  font-family: 'RickAndMortyFont', sans-serif;
  color: #00ff88;
  text-shadow: 
        0 0 5px #ffff, 
        0 0 10px #ffff, 
        0 0 20px #00ff88, 
        0 0 40px #ff0000;
  background-color:#9b4dca ;
  border-color: #00ff88;
}
.card-custom{
  background: radial-gradient(circle, #8A2BE2, #9b4dca); /* Degradado radial de morado neón */
  border-radius: 15px; /* Bordes redondeados */
  color: white; /* Texto blanco para contraste */
  padding: 20px; /* Espaciado interno (opcional) */
  box-shadow: 0 4px 10px rgba(138, 43, 226, 0.5);
  box-shadow: 
  0 0 10px #8A2BE2,
  0 0 20px #8A2BE2,
  0 0 30px #8A2BE2;
}

/* estilo tarjetas */

.card-characters{
  background: radial-gradient(circle, #00ff88, #39FF14); /* Degradado de verde neón */
  border-radius: 15px; /* Bordes redondeados */
  color: white; /* Texto blanco para contraste */
  padding: 20px; /* Espaciado interno (opcional) */
  box-shadow: 0 4px 10px rgba(0, 255, 136, 0.5);
  color: #ffff;
  text-shadow: 
        0 0 10px #ffff, 
        0 0 40px #ffff;
}
/* fin estilo nuevo */
